DB_HOST=localhost
DB_PORT=3306
DB_NAME=ai_interview_db
DB_USER=aiuser
DB_PASSWORD=ai123@localhost

DATABASE_URL=mysql+pymysql://aiuser:ai123@localhost/ai_interview_db

REDIS_HOST=localhost
REDIS_PORT=6379
OPENAI_API_KEY=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