fastapi
uvicorn[standard]
pymysql
sqlalchemy
redis
python-dotenv
pydantic
pdfplumber
pymupdf
spacy
groq
anthropic
openai
pyaudio
openai-whisper
librosa
soundfile
numpy
opencv-python==4.10.0.84
mediapipe==0.10.35
tensorflow
onnx
onnxruntime-gpu
pandas
scikit-learn
xgboost
shap
sentence-transformers
reportlab
matplotlib==3.8.4
pytest
httpx
python-multipart
protobuf==6.31.1
torchvision
